:root {
    --yellowish-brown: #E7D095;
    --yellowish-brown2:#E7D095;
    --grey-color: #CAC9C7;
}


body {
    background-color: #034952;
}


.indexPageContentDiv {
    height: 85%;
}

.navBarDiv {
    height: 15%;
}

.circleDiv {
    width: 190px;
    height: 190px;
    background-color: #006270;
}

.indexPageicon {
    color: #998E72;
    font-size: x-large;
}


.indexPageImage {
    width: 160px;
    height: 160px;
}

.aboutPageNameTxt {
    color: var(--yellowish-brown) !important;
}

.techCircle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--grey-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    overflow: hidden;
}

.techImg {
    width: 60%;
    height: 60%;
    /* object-fit: cover; */
}

.firstTechRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tech-container {
    padding: 20px;
    margin: 10px;
    text-align: center;
    color: white;
}
.divider {
    border-left: 1px solid white;
    height: 100%;
}
.tech-heading {
    font-size: 18px;
    font-weight: bold;
}

.techNameSecondPartOfTxt{
    color: var(--yellowish-brown2);
}

.logo{
    width: 20px;
    height: 20px;
}

@media(min-width:992px) {
    .nameAndStackDiv {
        height: 75% !important;
    }

    .indexPageSocialMediaDiv {
        height: 25% !important;
    }

    .circleDiv {
        width: 290px;
        height: 290px;
        background-color: #006270;
    }

    .indexPageImage {
        width: 260px;
        height: 260px;
    }
}