:root {
    --yellowish-brown: #E7D095;
    --yellowish-brown2: #E7D095;
    --grey-color: #CAC9C7;
    --green-color1: #009394;
    --green-color2: #00E0C7;
    --background-color: #034952;
}


body {
    background-color: var(--background-color);
}


.indexPageContentDiv,
.contactPageContentDiv {
    height: 85%;
}

.navBarDiv {
    height: 15%;
}

.circleDiv {
    width: 190px;
    height: 190px;
    background-color: #006270;
}

.indexPageicon,
.contactPageIcon {
    color: #998E72;
    font-size: x-large;
}


.indexPageImage {
    width: 160px;
    height: 160px;
}

.aboutPageNameTxt,
.contactPageHeadingTxt,
.portfolioPageSubheadingSecondText {
    color: var(--yellowish-brown) !important;
}

.techCircle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--grey-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    overflow: hidden;
}

.techImg {
    width: 60%;
    height: 60%;
    /* object-fit: cover; */
}

.firstTechRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tech-container {
    padding: 20px;
    margin: 10px;
    text-align: center;
    color: white;
}

.divider {
    border-left: 1px solid white;
    height: 100%;
}

.tech-heading {
    font-size: 18px;
    font-weight: bold;
}

.techNameSecondPartOfTxt {
    color: var(--yellowish-brown2);
}

.logo {
    width: 20px;
    height: 20px;
}

.contactFormDiv {
    border-color: var(--green-color1);
    border-width: 1px;
    border-style: solid;
    border-radius: 40px 0 40px 0;
    /* left top 40px, left bottom 0, right top 0, right bottom 40px */
}

.portfolioItemDiv {
    background: linear-gradient(to right, #006270, #009394);
    border-radius: 25px;
    height: 260px;
}

.portfolioItemImage {
    height: 100px;
    width: fit-content;
}

.tech1 {
    color: var(--green-color1);
}

.tech2 {
    color: var(--yellowish-brown2);
}


.tech3 {
    color: var(--green-color2);
}


.tech4 {
    color: var(--grey-color);
}

.offcanvas {
    background-color: var(--background-color);
}

.contactPageSubmitBtn {
    background-color: #E7D095;
    color: white;
    border-radius: 50px;
}

@media(min-width:768px) {
    /* .portfolioItemDiv {
        height: 310px; 
    } */
}

@media(min-width:992px) {
    .nameAndStackDiv {
        height: 75% !important;
    }

    .indexPageSocialMediaDiv {
        height: 25% !important;
    }

    .circleDiv {
        width: 290px;
        height: 290px;
        background-color: #006270;
    }

    .indexPageImage {
        width: 260px;
        height: 260px;
    }

    .portfolioItemImage {
        height: 100%;
    }

    .portfolioItemDiv {
        height: 310px;
    }
}