<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>

    <link rel="stylesheet" href="../../assets/css/bootstrap.css" />
    <link rel="stylesheet" href="../../assets/css/style.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="icon" href="../../assets/images/logo.svg" />
</head>

<body>
    <div class="container-fluid ">
        <div class="row  px-2 ">



            <!-- Offcanvas icon -->
            <div class="col-12  navBarDiv d-md-none ">
                <div class="row  d-flex align-items-center py-4" onclick="openOffcanvas()">
                    <i class="bi bi-list text-white fs-5"></i>
                </div>
            </div>

            <!-- Nav Bar -->
            <div class="col-12 navBarDiv d-none d-md-block">
                <div class="row">
                    <div class="col-1 d-flex justify-content-center align-items-center">
                        <a href="/Developer-Portfolio/index.html"><img src="/Developer-Portfolio/assets/images/logo.svg"
                                alt="logo.svg" class="logo" /></a>
                    </div>
                    <div class="col-11">
                        <div class="row d-flex flex-row justify-content-end py-4 h-100">
                            <div class="col-2 col-lg-1 text-end">
                                <a href="/Developer-Portfolio/app/views/portfolio.html"
                                    class="text-white text-decoration-none">Portfolio</a>
                            </div>
                            <div class="col-2 col-lg-1 text-end">
                                <a href="/Developer-Portfolio/app/views/about.html"
                                    class="text-white text-decoration-none ">About</a>
                            </div>
                            <div class="col-2 col-lg-1 text-end">
                                <a href="/Developer-Portfolio/app/views/contact.html"
                                    class="text-white text-decoration-none  ">Contact</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Content div -->
            <div class="col-12 my-3">

                <!-- Team Projects div -->
                <div class="row mt-4">
                    <div class="col-12">

                        <!-- Team project heading -->
                        <div class="row">
                            <div class="col-12">
                                <h2><span class="text-white">Team&nbsp;</span><span
                                        class="portfolioPageSubheadingSecondText">Projects</span></h2>
                            </div>
                        </div>

                        <div class="row">

                            <!-- Div 1 -->
                            <div class="col-12 mt-4">
                                <div class="row">


                                    <div class="col-11 offset-1 offset-md-0 col-md-5">
                                        <div class="row">
                                            <div class="col-12">
                                                <h5 class="text-white">
                                                    Web based Point Of Sales System
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-11 d-flex flex-row">
                                                <span class="tech1">
                                                    #HTML &nbsp; &nbsp;
                                                </span>
                                                <span class="tech2">
                                                    #CSS &nbsp; &nbsp;
                                                </span>
                                                <span class="tech3">
                                                    #JS &nbsp; &nbsp;
                                                </span>
                                                <span class="tech4">
                                                    #PHP &nbsp; &nbsp;
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-11  offset-1  col-md-6  order-2 order-md-2 mt-3 mt-md-0">
                                        <p class="text-white">
                                            I contributed to a web-based project focused on developing
                                            a comprehensive Point of Sale (POS) system tailored for hardware retail
                                            businesses.
                                            Our solution empowered users with robust features including product,
                                            category,
                                            and brand management capabilities. Additionally, it offered advanced
                                            functionalities such as generating profit reports,
                                            tracking invoices and Goods Received Notes (GRNs), and managing both regular
                                            and credit customers. Moreover,
                                            our POS system provided the flexibility to hold and unhold invoices,
                                            ensuring seamless transactions and efficient operations.
                                        </p>
                                    </div>

                                </div>
                            </div>


                            <!-- Div 2 -->
                            <div class="col-12 mt-4">
                                <div class="row">

                                    <div class="col-11 offset-1 offset-md-0 col-md-6 order-2 order-md-1 mt-3 mt-md-0">
                                        <p class="text-white">
                                            I contributed to the development of a web-based restaurant management
                                            system designed to streamline operations and enhance customer experiences.
                                            Our system featured user privileges,
                                            including Super Admin, Admin, and Customer roles, ensuring secure access and
                                            tailored functionalities for different users.
                                            The Super Admin had overarching control, while Admins managed restaurant
                                            operations,
                                            and Customers interacted with the system to place orders, make reservations,
                                            and provide feedback.
                                        </p>
                                    </div>

                                    <div class="col-11  offset-1  col-md-6 offset-md-0  order-1 order-md-2">
                                        <div class="row">
                                            <div class="col-12">
                                                <h5 class="text-white">
                                                    Restaurant Management System
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 d-flex flex-row">
                                                <span class="tech1">
                                                    #HTML &nbsp; &nbsp;
                                                </span>
                                                <span class="tech2">
                                                    #CSS &nbsp; &nbsp;
                                                </span>
                                                <span class="tech3">
                                                    #JS &nbsp; &nbsp;
                                                </span>
                                                <span class="tech4">
                                                    #Laravel &nbsp; &nbsp;
                                                </span>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <!-- Personal Projects div -->
                <div class="row mt-4">
                    <div class="col-12">

                        <!-- Personal project heading -->
                        <div class="row">
                            <div class="col-12">
                                <h2><span class="text-white">Personal&nbsp;</span><span
                                        class="portfolioPageSubheadingSecondText">Projects</span></h2>
                            </div>
                        </div>


                        <div class="row d-flex justify-content-evenly mt-lg-4">


                            <!-- Div 1 -->
                            <div class="col-11 col-sm-8 col-md-5 portfolioItemDiv py-4 px-4 mt-2">
                                <div class="row h-100 ">
                                    <!-- Image -->
                                    <div class="col-12  d-flex align-items-center justify-content-center">
                                        <img src="/Developer-Portfolio/assets/images/portfolioImages/EmartDesign.svg"
                                            alt="Portfolio Image" class="portfolioItemImage" />
                                    </div>
                                    <!-- Details -->
                                    <div class="col-12  mt-2 mt-lg-0 ">
                                        <!-- Front End -->
                                        <div class="row ">
                                            <div class="col-6  py-0">
                                                <p class="text-white my-0">Front-End:</p>
                                            </div>
                                            <div class="col-6 ">

                                                <span class="text-white">HTML</span><br>
                                                <span class="text-white">CSS</span><br>
                                                <span class="text-white">Java Script</span>

                                            </div>
                                        </div>
                                        <!-- Back End -->
                                        <div class="row">
                                            <div class="col-6">
                                                <p class="text-white my-0">Back-End:</p>
                                            </div>
                                            <div class="col-6">
                                                <span class="text-white"> PHP </span>
                                            </div>
                                        </div>
                                        <!-- Database -->
                                        <div class="row">
                                            <div class="col-6">
                                                <p class="text-white my-0">Database:</p>
                                            </div>
                                            <div class="col-6">
                                                <span class="text-white">MySQL</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- Div 2 -->
                            <div class="col-11 col-sm-8 col-md-5 portfolioItemDiv py-4 px-4 mt-2">
                                <div class="row h-100 ">
                                    <!-- Image -->
                                    <div class="col-12  d-flex align-items-center justify-content-center">
                                        <img src="/Developer-Portfolio/assets/images/portfolioImages/FlowerCornerDesign.svg"
                                            alt="Portfolio Image" class="portfolioItemImage" />
                                    </div>
                                    <!-- Details -->
                                    <div class="col-12  mt-2 mt-lg-0 ">
                                        <!-- Front End -->
                                        <div class="row ">
                                            <div class="col-6  py-0">
                                                <p class="text-white my-0">Front-End:</p>
                                            </div>
                                            <div class="col-6 ">

                                                <span class="text-white"> React Native </span>

                                            </div>
                                        </div>
                                        <!-- Back End -->
                                        <div class="row">
                                            <div class="col-6">
                                                <p class="text-white my-0">Back-End:</p>
                                            </div>
                                            <div class="col-6">
                                                <span class="text-white">PHP</span><br>

                                            </div>
                                        </div>
                                        <!-- Database -->
                                        <div class="row">
                                            <div class="col-6">
                                                <p class="text-white my-0">Database:</p>
                                            </div>
                                            <div class="col-6">
                                                <span class="text-white">MySQL</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- Div 3 -->
                            <div class="col-11 col-sm-8 col-md-5 portfolioItemDiv py-4 px-4 mt-2">
                                <div class="row h-100 ">
                                    <!-- Image -->
                                    <div class="col-12  d-flex align-items-center justify-content-center">
                                        <img src="/Developer-Portfolio/assets/images/portfolioImages/ChatAppDesign.svg"
                                            alt="Portfolio Image" class="portfolioItemImage" />
                                    </div>
                                    <!-- Details -->
                                    <div class="col-12  mt-2 mt-lg-0 ">
                                        <!-- Front End -->
                                        <div class="row ">
                                            <div class="col-6  py-0">
                                                <p class="text-white my-0">Front-End:</p>
                                            </div>
                                            <div class="col-6 ">
                                                <span class="text-white">React Native </span>
                                            </div>
                                        </div>
                                        <!-- Back End -->
                                        <div class="row">
                                            <div class="col-6">
                                                <p class="text-white my-0">Back-End:</p>
                                            </div>
                                            <div class="col-6">
                                                <span class="text-white">PHP</span>

                                            </div>
                                        </div>
                                        <!-- Database -->
                                        <div class="row">
                                            <div class="col-6">
                                                <p class="text-white my-0">Database:</p>
                                            </div>
                                            <div class="col-6">
                                                <span class="text-white">MySQL</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Div 4 -->
                            <div class="col-11 col-sm-8 col-md-5 portfolioItemDiv py-4 px-4 mt-2">
                                <div class="row h-100 ">
                                    <!-- Image -->
                                    <div class="col-12  d-flex align-items-center justify-content-center">
                                        <img src="/Developer-Portfolio/assets/images/portfolioImages/POSDesign.svg"
                                            alt="Portfolio Image" class="portfolioItemImage" />
                                    </div>
                                    <!-- Details -->
                                    <div class="col-12  mt-2 mt-lg-0 ">
                                        <!-- Front End -->
                                        <div class="row ">
                                            <div class="col-6  py-0">
                                                <p class="text-white my-0">Front-End:</p>
                                            </div>
                                            <div class="col-6 ">
                                                <span class="text-white"> Java </span>
                                            </div>
                                        </div>
                                        <!-- Back End -->
                                        <div class="row">
                                            <div class="col-6">
                                                <p class="text-white my-0">Back-End:</p>
                                            </div>
                                            <div class="col-6">
                                                <span class="text-white">Java </span>
                                            </div>
                                        </div>
                                        <!-- Database -->
                                        <div class="row">
                                            <div class="col-6">
                                                <p class="text-white my-0">Database:</p>
                                            </div>
                                            <div class="col-6">
                                                <span class="text-white">MySQL</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>





                        </div>


                    </div>
                </div>

            </div>

        </div>


        <div>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel"
                class="offcanvas">
                <div class="offcanvas-header">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close" onclick="closeOffCanvas()"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="row mt-3">
                        <div class="col-12 text-center">
                            <a href="/Developer-Portfolio/index.php" class="text-decoration-none ">
                                <h6 class="text-white">Home</h6>
                            </a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12 text-center">
                            <a href="/Developer-Portfolio/app/views/portfolio.php" class="text-decoration-none ">
                                <h6 class="text-white">Portfolio</h6>
                            </a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12 text-center">
                            <a href="/Developer-Portfolio/app/views/about.php" class="text-decoration-none ">
                                <h6 class="text-white">About</h6>
                            </a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12 text-center">
                            <a href="/Developer-Portfolio/app/views/contact.php" class="text-decoration-none ">
                                <h6 class="text-white">Contact</h6>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>

    <script src="../../assets/js/bootstrap.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>
    <script src="../../assets/js/bootstrap.bundle.min.js"></script>
    <script>
        const offcanvas = new bootstrap.Offcanvas(document.getElementById("offcanvas"))


        function openOffcanvas() {
            offcanvas.show();
        }

        function closeOffCanvas() {
            offcanvas.hide();
        }
    </script>
</body>

</html>